<div class="glossary-page">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 investment-left">
            <div class="glossary-header tim clearfix">
              <div class="col-md-12 no-padding">
                <h3 class="investasiku-color uppercase">Tentang Kami</h3>
                <p class="">
                  Kami percaya bahwa sistem keuangan inklusif merupakan salah satu kunci utama dalam membangun kualitas kehidupan masyarakat di Indonesia. Selain untuk mendorong pertumbuhan ekonomi negara, partisipasi sektor keuangan yang inklusif dapat menguntungkan perkembangan masyarakat dalam menanggulangi kesenjangan antarindividu. Investasiku merupakan sebuah platform online yang dirancang untuk mengedukasi pembaca mengenai keuntungan dan cara-cara investasi, dengan fokus khusus di investasi reksadana.<br><br>
                  <h4>Kenapa reksadana?</h4>
                  Kami percaya bahwa reksadana merupakan salah satu bentuk investasi yang mudah, sekaligus dapat mempromosikan kesadaran keuangan. Mengapa?<br><br>
                  <h5>1. Ketersediaan</h5>
                  Dengan adanya unit reksadana di banyak bank di seluruh nusantara, sangat mudah untuk memilih reksadana sebagai bentuk investasi, dimana pun kamu berada<br><br>
                  <h5>2. Terjangkau</h5>
                  Harga tiap unit reksadana sangat terjangkau, sehingga dapat dibeli oleh masyarakat dari berbagai kalangan, dalam jumlah berapapun<br><br>
                  <h5>3. Terdiversifikasi</h5>
                  Dibandingkan berinvestasi dalam satu tempat, reksadana memungkinkan kamu untuk menaruh investasi di berbagai macam instrumen, hanya dengan melewati satu pintu Ingin tahu lebih lanjut mengenai reksadana? <%= link_to 'Klik di sini!', public_module_path %><br><br>
                  <h4>Tujuan</h4>
                  Investasiku beroperasi berdasarkan dua prinsip utama:<br><br>
                  <h5>1. Komprehensif</h5>
                  Memberikan informasi yang lengkap, akurat, dan relevan untuk mendukung keputusan investasi para pembaca<br><br>
                  <h5>2. Mudah dimengerti</h5>
                  Dalam membangun proses pembelajaran pembaca, kami bertujuan untuk menyajikan informasi yang mudah dimengerti dalam format yang tidak membosankan Apakah kamu mempunyai pertanyaan mengenai situs ini? Hubungi kami!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
