<div class="container contact-us">
  <div class="row">
    <div class="col-md-6 left-side">
      <h2 class="comp-name">Company Name</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores hic eveniet in cum eligendi, repellat ullam repudiandae ex nihil. Quod aut laborum delectus error vel ratione, corporis eos. Voluptatem, laboriosam!</p>
      <hr>
      <p>3260 Andover Court
        <br> Riverside, NJ 08075</p>
      <hr>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i> mail@company.com
        <br>
        <i class="fa fa-phone" aria-hidden="true"></i> +1-202-555-0157</p>
      <hr>
      <div class="map-section">
        <div class="unzoom"></div>
        <iframe class="map-address" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.621316355935!2d107.57591731424412!3d-6.93578166981919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e8817fdaa26f%3A0x309af6fd17671eec!2sPT.+Walden+Global+Services!5e0!3m2!1sen!2sid!4v1469690421821" width="100%" height="209" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <%= form_tag public_send_contact_path, :class => 'contact-us' do %>
        <div class="form-group">
          <%= text_field_tag :name, '', :placeholder => 'Name', :class => 'form-control', :required => true %>
        </div>
        <div class="form-group">
          <%= email_field_tag :email, '', :placeholder => 'Email', :class => 'form-control', :required => true %>
        </div>
        <div class="form-group">
          <%= text_area_tag :content, '', :placeholder => 'Your message', :rows => 9, :id => 'messages', :class => 'form-control', :required => true %>
        </div>
        <button type="submit" class="btn btn-primary contact">Send Message</button>
      <% end %>
    </div>
  </div>
</div>
