<%
  set_meta_tags title: 'Investasiku', site: 'Glossary'
  set_meta_tags description: 'Belajar investasi itu mudah loh!'
  set_meta_tags keywords: %w[investasiku investasi belajar glossary glossaries kamus kata]
%>

<div class="glossary-page">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12 glossary-left">
            <div class="glossary-header clearfix border-bottom">
              <div class="col-md-6 no-padding">
                <h3 class="investasiku-color uppercase">Glosarium</h3>
              </div>

              <%= render :partial => 'home/shared/form_search_context', :locals => { :route => public_glossary_path, :placeholder => 'Search glossary...' } %>
            </div>
            <div id="glossary-list">
              <%= render 'home/ajax/glossary_list_item' %>
            </div>
          </div>

          <%= render 'home/shared/latest_news_side' %>

          <div class="pagination fixed-left">
            <a href="" class="up-btn investasiku-color text-center disabled"><i class="fa fa-sort-up"></i></a>
            <a href="" class="down-btn investasiku-color text-center"><i class="fa fa-sort-down"></i></a>
            <% @word_indexes.each do |word| %>
              <a href="#" class="investasiku-bg-color uppercase white glo-page active"><%= word %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
