<div class="glossary-page">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12 investment-left">
            <div class="glossary-header clearfix border-bottom">
              <div class="col-md-6 no-padding">
                <h3 class="investasiku-color uppercase">Invesment Tips</h3>
              </div>

              <%= render :partial => 'home/shared/form_search_context', :locals => { :route => public_tips_path, :placeholder => 'Search investment tips...' } %>
            </div>

            <div id="tips-list">
              <%= render 'home/ajax/tips_list_item' %>
            </div>
          </div>

          <%= render 'home/shared/latest_news_side' %>
        </div>
      </div>
    </div>
  </div>
</div>
