<div class="glossary-page">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12 investment-left">
            <div class="glossary-header clearfix border-bottom">
              <div class="col-md-6 no-padding">
                <h3 class="investasiku-color uppercase">Invesment Tips</h3>
              </div>
              <div class="col-md-6 no-padding">
                <div class="input-group">
                  <input type="text" class="form-control invest-rad-30" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default invest-rad-30" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>


            <div class="glossary-content border-bottom">
              <a href="">
              <h4 class="investasiku-color">Price to Earnings Ratio</h4>
              <p class="truncate-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.</p>
              </a>
              <div class="share-group row no-margin">
                <!-- Facebook Share Button -->
                <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
                <!-- Googple Plus Share Button -->
                <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
                <!-- Twitter Share Button -->
                <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
                <!-- Stumbleupon Share Button -->
                <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
                <!-- Pinterest Share Button -->
                <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
                <!-- LinkedIn Share Button -->
                <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
                <!-- Buffer Share Button -->
                <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
              </div>
            </div>


            <div class="glossary-content border-bottom">
              <a href="">
              <h4 class="investasiku-color">Price to Earnings Ratio</h4>
              <p class="truncate-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.</p>
              </a>
              <div class="share-group row no-margin">
                <!-- Facebook Share Button -->
                <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
                <!-- Googple Plus Share Button -->
                <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
                <!-- Twitter Share Button -->
                <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
                <!-- Stumbleupon Share Button -->
                <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
                <!-- Pinterest Share Button -->
                <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
                <!-- LinkedIn Share Button -->
                <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
                <!-- Buffer Share Button -->
                <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
              </div>
            </div>


            <div class="glossary-content border-bottom">
              <a href="">
              <h4 class="investasiku-color">Price to Earnings Ratio</h4>
              <p class="truncate-6">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.</p>
              </a>
              <div class="share-group row no-margin">
                <!-- Facebook Share Button -->
                <a class="btnz share facebook" href="#"><i class="fa fa-facebook"></i> Share</a>
                <!-- Googple Plus Share Button -->
                <a class="btnz share gplus" href="#"><i class="fa fa-google-plus"></i> Share</a>
                <!-- Twitter Share Button -->
                <a class="btnz share twitter" href="#"><i class="fa fa-twitter"></i> Tweet</a>
                <!-- Stumbleupon Share Button -->
                <a class="btnz share stumbleupon" href="#"><i class="fa fa-stumbleupon"></i> Stumble</a>
                <!-- Pinterest Share Button -->
                <a class="btnz share pinterest" href="#"><i class="fa fa-pinterest"></i> Pin it</a>
                <!-- LinkedIn Share Button -->
                <a class="btnz share linkedin" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
                <!-- Buffer Share Button -->
                <a class="btnz share buffer" href="#"><i class="fa fa-share-square-o"></i> Buffer</a>
              </div>
            </div>

          </div>

          <div class="col-md-4 col-sm-12 col-xs-12 latest-news">
            <div class="latest-header investasiku-bg-color">
              <h4 class=white>Latest News</h4>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>

            <div class="front-beritaku-small border-bottom">
              <a href="#" class="sect-child row no-margin">
                <!-- <hr> -->
                <div class="beritaku-wrapper">
                  <%= image_tag 'tax.jpg', :class => 'imej' %>
                </div>
                <div class="headline-small-sect">
                  <h5 class="investasiku-color">Lorem Ipsum dolor sit ametLorem Ipsum dolor sit amet</h5>
                  <p class="font-12 grey"><i class="fa fa-clock-o" aria-hidden="true"></i>  25th February 2016</p>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>

<div class="ad-sense"></div>
