<%
  set_meta_tags title: 'Investasiku', site: 'Beritaku'
  set_meta_tags description: 'Belajar investasi itu mudah loh!'
  set_meta_tags keywords: %w[investasiku investasi belajar berita beritaku berita news]
  set_meta_tags prev: "http://yoursite.com/url?page=1"
  set_meta_tags next: "http://yoursite.com/url?page=3"
%>

<div class="beritaku-page">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12 beritaku">
            <div class="glossary-header clearfix border-bottom">
              <div class="col-sm-6 col-xs-12 no-padding">
                <h3 class="investasiku-color uppercase">Beritaku</h3>
              </div>

              <%= render :partial => 'home/shared/form_search_context', :locals => { :route => public_news_path, :placeholder => 'Search news...' } %>
            </div>

            <div class="container-custom">
              <div id="news-list" class="row">
                <%= render 'home/ajax/news_list_item' %>
              </div>
            </div>
          </div>

          <%= render 'home/shared/latest_news_side' %>
        </div>
      </div>
    </div>
  </div>
</div>
