<div class="glossary-page">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 investment-left">
            <div class="glossary-header tim clearfix">
              <div class="col-md-12 no-padding">
                <h3 class="investasiku-color uppercase text-center">Tim</h3>
                <p class="text-center">Bertemu tim dibalik web Investasiku</p>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 tim-person text-center">
              <div class="border-1px">
                <div class="wrapper-tim" style="background:url(<%= image_url('dalia.png') %>) center center; background-size:cover;">
                </div>
                <div class="tim-det">
                  <h3 class="investasiku-color">Dalia Kuwatly</h3>
                  <h5 class="grey">Co-Founder</h5>
                  <p>Bekerja di bagian riset perkembangan masyarakat, Dalia beraspirasi untuk
                    menumbuhkan semangat literasi keuangan masyarakat Indonesia.
                    Dengan pengalamannya bekerja di salah satu agensi hubungan
                    masyarakat digital di Jakarta, Dalia bertanggung jawab dalam membentuk
                    tampilan, desain dan strategi untuk laman Investasiku.
                    Dalia juga merupakan seorang penulis freelance di bidang kuliner, dan
                    tertarik dalam isu-isu seputar gender, hak asasi manusia, dan pendidikan.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 tim-person text-center">
              <div class="border-1px">
                <div class="wrapper-tim" style="background:url(<%= image_url('chris.jpg') %>) center center; background-size:cover;">
                </div>
                <div class="tim-det">
                  <h3 class="investasiku-color">Christopher Hirawady</h3>
                  <h5 class="grey">Co-Founder</h5>
                  <p>Bergabung di Investasiku sebagai Co-Founder, Christopher bertanggung jawab sebagai Project Manager.
                  Tidak asing dengan posisi manajerial, Christopher bekerja mengurus keuangan sebuah perusahaan yang bergerak di bidang promotor/event organizing.
                  Christopher mempelajari psikologi dan neuroscience di University of Sydney, Australia dan beraspirasi untuk melaksanakan riset di bidang itu.
                  Kegemaran lain Christopher termasuk menonton film dan memperbincangkannya.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 tim-person text-center">
              <div class="border-1px">
                <div class="wrapper-tim" style="background:url(<%= image_url('dhika.jpg') %>) center center; background-size:cover;">
                </div>
                <div class="tim-det">
                  <h3 class="investasiku-color">Adhika Kartoleksono</h3>
                  <h5 class="grey">Co-Founder</h5>
                  <p>Sebelum memulai karirnya sebagai Management Associate di Citibank,
                    Dhika sudah memiliki passion yang tinggi di bidang keuangan sejak
                    bersekolah di University of Melbourne, Australia. Setelah bekerja di
                    berbagai divisi di Citibank, mulai dari perbankan consumer (kartu kredit
                    dan perbankan ritel) hingga korporasi dan investment banking, Dhika
                    memutuskan untuk memfokuskan usahanya untuk meningkatkan literasi
                    keuangan masyarakat Indonesia.
                    Pada saat ini, Dhika sedang berusaha untuk mendapatkan sertifikasi
                    Chartered Financial Associate (CFA), dan sudah lulus ujian Level 1. Di
                    waktu senggangnya, Dhika memiliki hobi bermain video game dan
                    travelling.</p>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-xs-12 tim-person text-center">
              <div class="border-1px">
                <div class="wrapper-tim" style="background:url(<%= image_url('nadia.png') %>) center center; background-size:cover;">
                </div>
                <div class="tim-det">
                  <h3 class="investasiku-color">Nadia Ratna Fitriani</h3>
                  <h5 class="grey">Co-Founder</h5>
                  <p>Setelah mengerjakan tesisnya yang berjudulkan Consumer Behavior of
                  Mutual Fund Investors ketika bersekolah di Sekolah Bisnis Manajemen di
                  Institut Teknologi Bandung, Nadia menyadari pentingnya menanamkan
                  kesadaran investasi terhadap investor lokal Indonesia.
                  Memiliki pengalaman langsung di dunia investasi ritel setelah bekerja di
                  divisi Wealth Management di Citibank, Nadia juga sudah tersertifikasi
                  sebagai Wakil Agen Penjual Reksa Dana. Sedang menempuh karir
                  sebagai Assistant Manager di Citibank, Nadia memiliki aspirasi bagi
                  Indonesia yang inklusif secara keuangan. Nadia memiliki hobi aktifitas
                  outdoor, travelling, mengunjungi museum dan tempat-tempat kebudayaan.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
