<div class="glossary-page">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 investment-left">
            <div class="glossary-header tim clearfix">
              <div class="col-md-12 no-padding">
                <h3 class="investasiku-color uppercase">Syarat dan Ketentuan</h3>
                <p class="">
                  Selamat datang di www.investasi-ku.com (selanjutnya disebut dengan “Investasiku”). Berikut ini adalah Syarat dan Ketentuan (“Syarat dan Ketentuan” penggunaan laman ini. Jika anda tidak setuju untuk terikat dengan Syarat dan Ketentuan ini, maka anda dipersilahkan tidak menggunakan laman Investasiku.<br><br>
                  <h5>1. Hak Atas Kekayaan Intelektual</h5>
                  Hak Cipta konten termasuk tulisan, gambar dan video dari Investasiku ini dipegang oleh pemilik. Hak Cipta dari Laman ini dilindungi oleh Undang-Undang Hak Cipta dan peraturan lain yang terkait. Setiap orang dilarang untuk menggunakan konten diluar ketentuan yang diperbolehkan secara tegas oleh peraturan perundang-undangan termasuk menggandakan, mendistribusikan, mengubah, menyiarkan, menggunakan kembali, memindahkan ataupun membuat karya derviatif konten Investasiku tanpa izin tertulis dari pemilik.<br><br>
                  <h5>2. Jaminan Mengenai Konten</h5>
                  Segala informasi yang dipublikasikan dalam Laman ini hanya dapat digunakan untuk tujuan informasi dan bukan sebagai saran, rekomendasi atau ajakan untuk menjual atau membeli suatu produk investasi tertentu yang terdapat dalam laman ini. Investasiku berusaha dengan itikad baik untuk memberikan informasi yang akurat, namun tidak menjamin bahwa informasi Yang diberikan adalah tanpa adanya kesalahan, kelalaian, ketidakakuratan teknis atau faktual ataupun kesalahan ketik. Ketentuan ini untuk menegaskan agar tidak dianggap atau seolah-olah agar dianggap sebagai prospektus atau informasi lainnya yang bersifat mengikat. Informasi yang tersedia dalam laman ini tidak dimaksudkan sebagai pengganti suatu informasi produk investasi sebagai prospektus dan informasi resmi lainnya, namun semata-mata hanya sebagai informasi tambahan dan pelengkap.<br><br>
                  <h5>3. Non Liabilitas</h5>
                  Informasi yang tersedia dalam laman ini disediakan dengan “sebagaimana adanya” dan “sebagaimana tersedia”. Investasiku beserta pihak terafiliasi, pemegang saham, pengelola dan karyawannya tidak dapat diminati pertanggungjawaban secara hukum, baik pidana maupun perdata, atas kerugian yang dialami oleh pengguna akibat menggunakan informasi ini baik karena adanya ksealahan dan ketidakakuratan informasi yang tersedia dalam laman ini atau karena sebab lainnya. Investasiku berusaha untuk memperbaharui informasi dalam laman ini, namun demikian Investasiku tidak mempunyai kewajiban untuk memperbaharui informasi yang terdapat dalam laman ini. Oleh karena itu, anda tetap berkewajiban untuk membaca prospektus dan materi lainnya yang relevan sebelum memutuskan untuk membeli atau menjual suatu produk informasi.<br><br>
                  <h5>4. Pernyataan Pandangan Ke Depan</h5>
                  Setiap analisa proyeksi, ataupun pernyataan yang merupakan prediksi suatu produk investasi di masa datang bukan merupakan indikasi kinerja masa yang akan datang. Kinerja masa lalu tidak dapat dijadikan suatu pedoman untuk kinerja masa datang. Anda disarankan mencari bantuan tenaga profesional untuk mendapatkan sara perpajakan, nasehat hukum, akuntasi termasuk risiko investasi yang terdapat didalamnya sebelum melakukan keputusan investasi.<br><br>
                  <h5>5. Risiko</h5>
                  Wajib diperhatikan bahwa berbagai jenis investasi yang terdapat dalam laman ini melibatkan berbagai tingkatan risiko dan tidak terdapat jaminan bahwa investasi tertentu cocok, sesuai atau menguntungkan bagi anda. Setiap produk investasi mengandung risiko dan anda wajib mencari informasi sebelum memutuskan keputusan investasi. Kinerja masa lalu tidak mencerminkan kinerja masa datang.<br><br>
                  <h5>Privasi dan Keamanan</h5>
                  Seluruh informasi atau data pribadi yang dimasukkan ke dalam dan/atau muncul di laman ini akan diperlakukan sebagai rahasia. Informasi yang anda berikan melalui laman ini akan digunakan, ditransfer atau diproses untuk tujuan-tujuan yang relevan. Investasiku tidak akan melakukan reproduksi, distribusi ulang, pembagian, modifikasi, utilisasi atau pengungkapan yang tidak berwenang dalam cara apapun atas informasi atau data pengguna laman ini. Dalam melakukan aktivitas yang berkaitan dengan laman ini, anda juga disyaratkan untuk menghargai dan mematuhi seluruh undang-undang, aturan, regulasi (khususnya berkenaan dengan hak atas kekayaan intelektual dan privasi) yang telah ditetapkan. Meskipun demikian, keamanan dan kerahasiaan yang mutlak melalui internet adalah tidak dimungkinkan pada saat ini. Dengan tidak membatasi pengecualian lainnya yang terdapat di dalam Ketentuan ini, Investasiku tidak bertanggung jawab atas setiap bahaya yang mungkin anda dan/atau suatu pihak lainnya sehubungan dengan adanya pelanggaran kerahasiaan atau keamanan data pribadi and.<br><br>
                  <h5>Aturan Hukum yang Berlaku dan Yuridiksi</h5>
                  Konten yang ada pada laman ini dan yang ada pada Ketentuan akan tunduk kepada aturanhukum negara Republik Indonesia. Setiap perselisihan yang terkait dengan atau muncul darilaman ini akan tunduk dan diatur berdasarkan aturan hukum yang sama.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
