# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bebeb836f09d1e508162c374545509c9cf4508bf26f7466ee3a904ff9826d3b5f176bf529f3017373be78283b95ef716f88f599a67e37114eff56009bad5209a

test:
  secret_key_base: 0f9c376b0ba015e246377266d6f4bb230d05205c188e82862af46ceaac07f249e9bb61911c717f3061b58a4dabae7898325d9308c76c1863a6c99f4c5c13a7ef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
