<div class="share-group row no-margin" data-title="<%= title %>" data-url="<%= url %>">
  <a class="btnz share stumbleupon" href="#" data-media="email"><i class="fa fa-envelope-o"></i>&nbsp;Email</a>
  <a class="btnz share facebook" href="#" data-media="facebook"><i class="fa fa-facebook"></i>&nbsp;Share</a>
  <a class="btnz share twitter" href="#" data-media="twitter"><i class="fa fa-twitter"></i>&nbsp;Tweet</a>
</div>
